body{
	width:100%;
	margin: 0;
	background: url('background.gif');
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: inherit;
}
#gradient{
	position: absolute;
	z-index:3;
	width:100%;
	height:100px;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(255,255,255,0.88) 54%, rgba(255,255,255,0.83) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0.88) 54%,rgba(255,255,255,0.83) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0.88) 54%,rgba(255,255,255,0.83) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
header nav{
	position: relative;
	left:35%;
}
header nav ul {
	list-style-type: none;
}
header nav ul li {
	position: relative;
	z-index: 3;
	top:30px;
	display: inline;
	padding:30px;
	font-size:150%;
	transition: border-bottom 0.5s;
	}
header nav ul li a::after{
		display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
	}
header nav ul li a:hover::after{
		width:100%;
	}
#imgheader{
	width:100%;
	height: 400px;
}
#imgheader img{
	margin-top:50px;
	width: 100%;
	height:350px;
	  object-fit: cover;
}
#imgheader h1{
	z-index: 3;
	position: relative;
	top:-200px;
	left:30%;
	width:40%;
	color:white;
	border-bottom:2px dotted green;
	    display:inline;
	font-family: 'Source sans pro',sans-serif;
}
#imgheader p{
	position: relative;
	top:-200px;
	left:47%;
	font-size:20px;
	font-family: 'Source sans pro',sans-serif;
	z-index: 3;
}



#overlay {	
	z-index: 2;
	width: 100%;
	height:350px;
	position: absolute;
	margin-top: 50px;
	background-color: rgba(0,0,0,0.5)
}
.colors-section{
	z-index: 3;
	position: relative;
	margin-top:-200px;
	width:70%;
	height: 300px;
	left:20%;
}
.colors li{
	list-style-type: none;
	width:5%;
	padding:20px;
	margin:30px;
	display: inline-block;

}
#titulli{
	padding-bottom: 10px;
}
section{
	background-color: white;
	font-family: 'Bellefair', serif !important;
	font-size:20px;
	width:60%;
	position: relative;
	left:20%;
	padding:20px;
}
.more{
	width:60%;
	height:auto;
	position: relative;
	left:20%;
	background-color: white;
	padding:20px;
	padding-bottom: 30px;
	margin-top:20px	;
}
.more h1{
	text-align: center;
	border-top:2px solid black;
font-family: 'Lora', serif;
}
.more-item{
	position: relative;
	width: 15%;
	margin-left: 50px;
	height:150px;
	display: inline-block;

}
.more-item img{
	width: 100%;
	height: 100%;
}
.more-item h1{
	position: absolute;
	width: 100%;
	border:none;
	font-size:1vw;
	color: white;
	height: 100%;
	top:20%;
}

span img{
	width: 100%;
}
.share{
	float:left;
	width:8%;
	position: relative;
	left:10%;
	background-color: white;
}
.share iframe{
	width: 100%;
	margin-bottom: 20px;
}